<!-- number-range filter element -->
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
	<div class="form-group">
	  <label
	  	class="control-label"
	    for="detail-form-element-{{vm.element.property}}"
	    translate>
	    {{vm.element.title}}
	  </label>
	  <div class="input-group">
	  	<span ng-if="vm.currency" class="input-group-addon">{{vm.currency}}</span>
	    <input
	      type="number"
	      id="detail-form-element-{{vm.element.property}}"
	      class="form-control"
	      min="{{vm.element.config.min}}"
	      max="{{vm.element.config.max}}"
	      placeholder="{{'placeholders.minimum' | translate}}"
	      ng-model="vm.model"
	      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
	      ng-change="vm.onAmountChange({{vm.element.config.fractionSize}})">
	  </div>
	</div>
</div>